<h1><%= "#{@course.year} - #{@course.semester}" %></h1>
<div class='info'>a</div>
<table>
  <tr>
    <td>Name</td>
    <% @calendar.each do |c| %>
      <td><%= c.date.strftime("%Y-%M-%d") %></td>
    <% end %>
  </tr>
  <% @assignments.each do |a| %>
    <tr>
      <td><%= a.student.name %></td>
      <% @calendar.each do |c| %>
        <td>
          <% @record = @records[a.student.id][c.id] %>
          <%= form_for(@record, :namespace => [a.student.id, c.id], :remote=>true) do |f| %>
            <%= f.text_field :status , :size=>10, :value=>@record.status  %>
            <%= f.submit  :id=>"#{a.student.id}_#{c.id}_submit" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
