<%= form_for([@assignment, @appointment]) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
      Hi, <%=@assignment.student.name %> <br/>
      You're making appointment for class <b>
          <%= "#{@assignment.course.year}-#{@assignment.course.semester}"%></b>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, ['Request','Cancel', 'Finish'] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
