<p id="notice"><%= notice %></p>

<p>
  <b>Assignment:</b>
  <%= @appointment.assignment_id %>
</p>

<p>
  <b>Time:</b>
  <%= @appointment.time %>
</p>

<p>
  <b>Status:</b>
  <%= @appointment.status %>
</p>


<%= link_to 'Edit', edit_assignment_appointment_path(@assignment, @appointment) %> |
<%= link_to 'Back', assignment_appointments_path %>
